<h1>My tasks</h1>
  <% @tasks.each do |task| %>
  <ul>
    <li>
      <% if task.completed %>
      <%= " √   " %>
      <% else %>
      <%= " x   " %>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      </li>
  </ul>
  <% end %>

<%= link_to "+ Add element", new_task_path %>



